<div id="body">
    <div class="container">
        <div class="form-box">
            <label for="name">Nombre</label>
            <input type="text" id="name" placeholder="Ingrese su nombre">
    
            <label for="username">Nombre de usuario</label>
            <input type="text" id="username" placeholder="Ingrese su nombre de usuario">
    
            <label for="password">Contraseña</label>
            <input type="password" id="password" placeholder="Ingrese su contraseña">
    
            <label for="dob">Fecha de Nacimiento</label>
            <input type="date" id="dob">
        </div>
    </div>
    <div class="container2">
        <div class="form-box">
            <img src="../../assets/user-default-icon.png" id="imagen">
            <div class="photo-upload">
                <input type="file" id="photo" accept="image/*">
            </div>
            <button id="registrar">Registrarse</button>
        </div>
    </div>
</div>
