<div class="page-wrapper">
    <div class="nav-wrapper">
     
     <nav class="navbar">
       <img src="../../../assets/MICROSERVICES_Logo.png" alt="Logo">
       <div class="menu-toggle" id="mobile-menu">
         <span class="bar"></span>
         <span class="bar"></span>
         <span class="bar"></span>
       </div>
       <ul class="nav no-search">
         <li class="nav-item"><a href="#"><img src="../../../assets/carrito-icon.png" alt="Logo" (click)="verCarrito()"></a></li>
         <li class="nav-item"><a href="#"><img src="../../../assets/notification-icon.png" alt="Logo" (click)="verNotificaciones()"></a></li>
         <li class="nav-item"><a href="#"><img src="../../../assets/book-icon.png" alt="Logo" (click)="verHistorial()"></a></li>
         <li class="nav-item"><a><img src="../../../assets/user-default-icon.png" alt="Logo" (click)="goToAccountManagement()"></a></li>
         <i class="fas fa-search" id="search-icon"></i>
         <input class="search-input" type="text" placeholder="Search..">
       </ul>
     </nav>
     <div class="grad-bar"></div>
     </div>
   </div>