<app-navbar></app-navbar>
<div class="container">
    <div class="title">Mis servicios</div>
    <button class="button"  (click)="add()">Añadir servicios</button>
</div>
<div id="body">
    <div class="card" *ngFor="let item of listaServiciosDelProveedor">
        <div class="card-details">
            <h3><b>Nombre del servicio: </b> {{item.name}}</h3>
            <p><b>Ubicación:</b>{{item.destination?.city}}, {{item.destination?.country}}</p>
            <p><b>Precio unitario:</b> $ {{item.unitValue}}</p>
        </div>
        <div class="card-footer">
            <button class="button ver" (click)="ver(item)">Ver</button>
            <button class="button edit" (click)="editar(item)">Editar</button>
            <button class="button delete" (click)="eliminar(item)">Eliminar</button>
            <!--<button class="button delete" (click)="borrar()">Borrar</button>-->
        </div>
    </div>
</div>
