<app-navbar></app-navbar>
<div class="container">
    <div class="title">Mis servicios</div>
    <button class="button"  (click)="add()">Añadir servicios</button>
</div>
<div id="body">
    <div class="card" *ngFor="let item of listaServiciosDelProveedor">
        <div class="card-image"></div>
        <div class="card-details">
            <h3>Nombre del servicio</h3>
            <p><b>Ubicación:</b>{{item.name}}</p>
            <p><b>Ubicacion:</b>{{item.city}}, {{item.country}}</p>
            <p><b>COP 19,898:</b>{{item.unitValue}}</p>
        </div>
        <div class="card-footer">
            <button class="button edit" (click)="editar()">Editar</button>
            <button class="button delete" (click)="borrar()">Borrar</button>
        </div>
    </div>
</div>
