<app-navbar></app-navbar>
<div class="container">
    <div class="title">Notificaciones</div>
</div>
<div id="body">
    <div *ngIf="listaNotificaciones.length == 0">
        <p>No tienes notificaciones</p>
        <hr>
    </div>
    <div class="notification-card" *ngFor="let item of listaNotificaciones">
        <button class="delete-btn" (click)="deleteNotification(item)">X</button>
        <h3>{{item.title}}</h3>
        <p>{{item.content}}</p>
        <div class="date">{{item.date}}</div>
    </div>
</div>