<app-navbar></app-navbar>
<div class="container">
    <div class="title">Notificaciones</div>
</div>
<div id="body">
    <div class="notification-card">
        <button class="delete-btn" onclick="deleteNotification()">X</button>
        <h3>Título de la Notificación</h3>
        <p>Esta es la descripción de la notificación. Aquí puedes agregar más detalles sobre el mensaje.</p>
        <div class="date">11 de septiembre de 2024</div>
    </div>
    <div class="notification-card">
        <button class="delete-btn" onclick="deleteNotification()">X</button>
        <h3>Título de la Notificación</h3>
        <p>Esta es la descripción de la notificación. Aquí puedes agregar más detalles sobre el mensaje.</p>
        <div class="date">11 de septiembre de 2024</div>
    </div>
    <div class="notification-card">
        <button class="delete-btn" onclick="deleteNotification()">X</button>
        <h3>Título de la Notificación</h3>
        <p>Esta es la descripción de la notificación. Aquí puedes agregar más detalles sobre el mensaje.</p>
        <div class="date">11 de septiembre de 2024</div>
    </div>
</div>