.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: rgb(233, 255, 237);
    border: 2px solid rgb(201, 253, 242);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15); 
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card .image {
    height: 150px;
    background-color: #ccc;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px; 
}

h1, p {
    margin: 10px 0;
}

h1 {
    font-size: 20px;
    color: #2c3e50; 
    font-weight: 600; 
}

p {
    font-size: 15px; 
    color: #7f8c8d; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    font-size: 18px; 
    color: #27ae60; 
    font-weight: bold;
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 10px; 
    background-color: #3498db; 
    color: white;
    border: none;
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #2980b9; 


    @media (max-width: 600px) {
        .card h1 {
            font-size: 18px;
        }

        .card p {
            font-size: 14px;
        }

        .card .price {
            font-size: 16px;
        }

        button {
            font-size: 14px; 
        }
    }
}