<app-navbar></app-navbar>
<app-search-bar></app-search-bar>
<div class="container">
    <div class="card">
        <div class="image"></div>
        <h1>Nombre del servicio</h1>
        <p>Descripción Lorem ipsum bla bla bla blab alb sl b...</p>
        <p class="price">COP 19,898</p>
    </div>
    <div class="card">
        <div class="image"></div>
        <h1>Nombre del servicio</h1>
        <p>Descripción Lorem ipsum bla bla bla blab alb sl b...</p>
        <p class="price">COP 19,898</p>
    </div>
    <div class="card">
        <div class="image"></div>
        <h1>Nombre del servicio</h1>
        <p>Descripción Lorem ipsum bla bla bla blab alb sl b...</p>
        <p class="price">COP 19,898</p>
    </div>
    <div class="card">
        <div class="image"></div>
        <h1>Nombre del servicio</h1>
        <p>Descripción Lorem ipsum bla bla bla blab alb sl b...</p>
        <p class="price">COP 19,898</p>
    </div>
    <div class="card">
        <div class="image"></div>
        <h1>Nombre del servicio</h1>
        <p>Descripción Lorem ipsum bla bla bla blab alb sl b...</p>
        <p class="price">COP 19,898</p>
    </div>
    <div class="card">
        <div class="image"></div>
        <h1>Nombre del servicio</h1>
        <p>Descripción Lorem ipsum bla bla bla blab alb sl b...</p>
        <p class="price">COP 19,898</p>
    </div>
    <!-- Agrega más tarjetas según sea necesario -->
</div>