.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card .image {
    height: 150px;
    background-color: #ccc;
    width: 100%;
    margin-bottom: 15px;
}

h1, p {
    margin: 10px 0;
}

h1 {
    font-size: 18px;
    color: #333;
}

p {
    font-size: 14px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    font-size: 16px;
    color: #008000;
    font-weight: bold;
    margin-top: 10px;
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 600px) {
    .card h1 {
        font-size: 16px;
    }

    .card p {
        font-size: 12px;
    }

    .card .price {
        font-size: 14px;
    }
}

.serv {
    cursor: pointer;
}

button {
    width: 100%;
}