<app-navbar></app-navbar>
<div class="container">
    <div class="title">Servicios comprados</div>
</div>
<div id="body">
    <div class="card">
        <div class="card-image"></div>
        <div class="card-details">
            <h3>Nombre del servicio</h3>
            <p><b>Ubicación:</b></p>
            <p><b>Tipo de servicio:</b></p>
            <p><b>Descripción:</b></p>
            <p><b>COP 19,898:</b></p>
        </div>
        <div class="card-footer">
            <button class="button comentar">Hacer un comentario</button>
        </div>
    </div>
    <div class="card">
        <div class="card-image"></div>
        <div class="card-details">
            <h3>Nombre del servicio</h3>
            <p><b>Ubicación:</b></p>
            <p><b>Tipo de servicio:</b></p>
            <p><b>Descripción:</b></p>
            <p><b>COP 19,898:</b></p>
        </div>
        <div class="card-footer">
            <button class="button comentar">Hacer un comentario</button>
        </div>
    </div>
    <div class="card">
        <div class="card-image"></div>
        <div class="card-details">
            <h3>Nombre del servicio</h3>
            <p><b>Ubicación:</b></p>
            <p><b>Tipo de servicio:</b></p>
            <p><b>Descripción:</b></p>
            <p><b>COP 19,898:</b></p>
        </div>
        <div class="card-footer">
            <button class="button comentar">Hacer un comentario</button>
        </div>
    </div>
    <div class="card">
        <div class="card-image"></div>
        <div class="card-details">
            <h3>Nombre del servicio</h3>
            <p><b>Ubicación:</b></p>
            <p><b>Tipo de servicio:</b></p>
            <p><b>Descripción:</b></p>
            <p><b>COP 19,898:</b></p>
        </div>
        <div class="card-footer">
            <button class="button comentar">Hacer un comentario</button>
        </div>
    </div>
    <div class="card">
        <div class="card-image"></div>
        <div class="card-details">
            <h3>Nombre del servicio</h3>
            <p><b>Ubicación:</b></p>
            <p><b>Tipo de servicio:</b></p>
            <p><b>Descripción:</b></p>
            <p><b>COP 19,898:</b></p>
        </div>
        <div class="card-footer">
            <button class="button comentar">Hacer un comentario</button>
        </div>
    </div>
    <div class="card">
        <div class="card-image"></div>
        <div class="card-details">
            <h3>Nombre del servicio</h3>
            <p><b>Ubicación:</b></p>
            <p><b>Tipo de servicio:</b></p>
            <p><b>Descripción:</b></p>
            <p><b>COP 19,898:</b></p>
        </div>
        <div class="card-footer">
            <button class="button comentar">Hacer un comentario</button>
        </div>
    </div>
    <div class="card">
        <div class="card-image"></div>
        <div class="card-details">
            <h3>Nombre del servicio</h3>
            <p><b>Ubicación:</b></p>
            <p><b>Tipo de servicio:</b></p>
            <p><b>Descripción:</b></p>
            <p><b>COP 19,898:</b></p>
        </div>
        <div class="card-footer">
            <button class="button comentar">Hacer un comentario</button>
        </div>
    </div>
    <div class="card">
        <div class="card-image"></div>
        <div class="card-details">
            <h3>Nombre del servicio</h3>
            <p><b>Ubicación:</b></p>
            <p><b>Tipo de servicio:</b></p>
            <p><b>Descripción:</b></p>
            <p><b>COP 19,898:</b></p>
        </div>
        <div class="card-footer">
            <button class="button comentar">Hacer un comentario</button>
        </div>
    </div>
</div>
