<app-navbar></app-navbar>
<div id="body">
    <div class="container-wrapper">
        <div class="container1">
            <img src="https://cdn.pixabay.com/photo/2015/06/10/16/36/mark-804938_640.jpg" alt="Servicio">
        </div>
        <div class="container2">
            <div class="form-group">
                <label for="service-name">Nombre del servicio:<label class="obligatorio">*</label></label>
                <input type="text" id="service-name" [(ngModel)]="servicio.name">
            </div>

            <div class="form-group">
                <label for="country">Selecciona un país de destino:</label>
                <select id="country" [(ngModel)]="selectedCountry" (change)="onCountrySelect()" name="country" required>
                    <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
                </select>
            </div>


            <div class="form-group" *ngIf="states.length > 0">
                <label for="state">Selecciona un estado de destino:</label>
                <select id="state" [(ngModel)]="selectedState" (change)="onStateSelect()" name="state" required>
                    <option *ngFor="let state of states" [ngValue]="state">{{ state.name }}</option>
                </select>
            </div>

            <div class="form-group" *ngIf="cities.length > 0">
                <label for="city">Selecciona una ciudad de destino:</label>
                <select id="city" [(ngModel)]="selectedCity" name="city" required>
                    <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="address">Dirección de destino:</label>
                <input id="address" type="text" [(ngModel)]="address" name="address" />
            </div>

            <div class="form-group">
                <label for="service-start">Inicio del servicio:<label class="obligatorio">*</label></label>
                <input type="date" id="service-start" [(ngModel)]="servicio.startDate">
            </div>
            <div class="form-group">
                <label for="service-end">Fin del servicio:<label class="obligatorio">*</label></label>
                <input type="date" id="service-end" [(ngModel)]="servicio.endDate">
            </div>
            <label class="check">
                <input type="checkbox" [(ngModel)]="tipoFood"> Servicio de comida
            </label>
            <div *ngIf="tipoFood" class="contenidoServicio">
                <div class="form-group">
                    <label for="food-select">Tipo de Alimento:</label>
                    <select id="food-select" [(ngModel)]="servicio.foodType" name="foodType">
                        <option *ngFor="let food of foods" [ngValue]="food">
                            {{ food.name }}
                        </option>
                    </select>
                </div>
            </div>
            <label class="check">
                <input type="checkbox" [(ngModel)]="tipoAccommodation"> Servicio de alojamiento
            </label>
            <div *ngIf="tipoAccommodation" class="contenidoServicio">
                <div class="form-group">
                    <label for="accommodation-select">Tipo de Alojamiento:</label>
                    <select id="accommodation-select" [(ngModel)]="servicio.accommodationType" name="accommodationType">
                        <option *ngFor="let accommodation of accommodations" [ngValue]="accommodation">
                            {{ accommodation.name }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="accommodation-select">Capacidad:</label>
                    <input type="number" id="service-name" [(ngModel)]="servicio.capacity" value="1" min="1" max="99">
                </div>
            </div>
            <label class="check">
                <input type="checkbox" [(ngModel)]="tipoTransportation"> Servicio de transporte
            </label>
            <div *ngIf="tipoTransportation" class="contenidoServicio">
                <div class="form-group">
                    <label for="transport-select">Tipo de Transporte:</label>
                    <select id="transport-select" [(ngModel)]="servicio.transportationType" name="transportationType">
                        <option *ngFor="let transport of transports" [ngValue]="transport">
                            {{ transport.name }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="originCountry">Selecciona un país de origen:</label>
                    <select id="originCountry" [(ngModel)]="originCountry" (change)="onOriginCountrySelect()"
                        name="originCountry" required>
                        <option *ngFor="let country of countries" [ngValue]="country">{{ country.name }}</option>
                    </select>
                </div>

                <div class="form-group" *ngIf="originStates.length > 0">
                    <label for="originState">Selecciona un estado de origen:</label>
                    <select id="originState" [(ngModel)]="originState" (change)="onOriginStateSelect()"
                        name="originState" required>
                        <option *ngFor="let state of originStates" [ngValue]="state">{{ state.name }}</option>
                    </select>
                </div>

                <div class="form-group" *ngIf="originCities.length > 0">
                    <label for="originCity">Selecciona una ciudad de origen:</label>
                    <select id="originCity" [(ngModel)]="originCity"
                        name="originCity" required>
                        <option *ngFor="let city of originCities" [ngValue]="city">{{ city.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="originAddress">Dirección de origen:</label>
                    <input id="originAddress" type="text" [(ngModel)]="originAddress" name="originAddress" />
                </div>

                <div class="form-group">
                    <label for="accommodation-select">Compañia:</label>
                    <input type="text" id="service-name" [(ngModel)]="servicio.company">
                </div>
            </div>
            <div class="form-group">
                <label for="price">Precio:<label class="obligatorio">*</label></label>
                <input type="number" id="price" [(ngModel)]="servicio.unitValue">
            </div>
            <label for="description">Descripción:</label>
            <textarea id="description" [(ngModel)]="servicio.description"></textarea>
        </div>

    </div>
    <button (click)="enviar()" class="crearBtn">Crear</button>
</div>

<app-popup *ngIf="isPopupOpen" [popupText]="popupMessage" (close)="closePopup()"></app-popup>