<app-navbar></app-navbar>
<div id="body">
    <div class="container-wrapper">
        <div class="container1">
            <img src="https://cdn.pixabay.com/photo/2015/06/10/16/36/mark-804938_640.jpg" alt="Servicio">
        </div>
        <div class="container2">
            <div class="form-group">
                <label for="service-name">Nombre del servicio:</label>
                <input type="text" name="fname" [(ngModel)]="servicio.name">
            </div>
            <div class="form-group">
                <label for="service-location">Ubicación del servicio (Ciudad):</label>
                <input type="text" name="fname" [(ngModel)]="servicio.city" placeholder="Ciudad">
            </div>
            <div class="form-group">
                <label for="service-location">Ubicación del servicio (Pais):</label>
                <input type="text" name="fname" [(ngModel)]="servicio.country" placeholder="Pais">
            </div>
            <div class="form-group">
                <label for="service-location">Inicio del servicio:</label>
                <input type="date" name="fname" [(ngModel)]="servicio.startDate">
            </div>
            <div class="form-group">
                <label for="service-location">Fin del servicio:</label>
                <input type="date" name="fname" [(ngModel)]="servicio.endDate">
            </div>
            <input type="checkbox" (click)="cambiarCheck('alimentacion')"><label> Alimentacion</label>
            <div id="alimentacion" *ngIf="alimentacionSelected">
                <div id="alimentacion">
                    <div class="form-group" >
                        <label for="service-type">Servicio de alimentacion:</label>
                        <select id="foodTypeSelect" [(ngModel)]="food.foodType" name="foodType">
                            <option *ngFor="let foodType of foodTypes" [value]="foodType.name">
                                {{ foodType.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <input type="checkbox" (click)="cambiarCheck('alojamiento')"><label> Alojamiento</label>
            <div id="alojamiento" *ngIf="alojamientoSelected">
                <div id="alojamiento">
                    <div class="form-group">
                        <label for="service-type">Servicio de alojamiento:</label>
                        <select id="accommodationTypeSelect" [(ngModel)]="accomodation.accommodationType" name="accommodationType">
                            <option *ngFor="let accommodationType of accommodationTypes" [value]="accommodationType.name">
                                {{ accommodationType.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group off">
                        <label for="service-type">Capacidad de alojamiento:</label>
                        <input type="number" name="fname" [(ngModel)]="accomodation.capacity" placeholder="Capacidad máxima">
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <input type="checkbox" (click)="cambiarCheck('transporte')"><label> Transporte</label>
            <div id="alojamiento" *ngIf="transporteSelected">
                <div id="transporte">
                    <div class="form-group" >
                        <label for="service-type">Servicio de transporte:</label>
                        <select id="transportTypeSelect" [(ngModel)]="transportation.transportType" name="transportType">
                            <option *ngFor="let transportType of transportTypes" [value]="transportType.name">
                                {{ transportType.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group off">
                        <label for="service-type">Compañia de transporte:</label>
                        <input type="text" name="fname" [(ngModel)]="transportation.company" placeholder="Empresa de transporte">
                        
                    </div>
                    <div class="form-group off">
                        <label for="service-type">Ubicación de origen (ciudad):</label>
                        <input type="text" name="fname" [(ngModel)]="transportation.originCity" placeholder="Ciudad">
                    </div>
                    <div class="form-group off">
                    <label for="service-type">Ubicación de origen (Pais):</label>
                        <input type="text" name="fname" [(ngModel)]="transportation.originCountry" placeholder="Pais">
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="form-group">
                <p>$ </p><input type="number" name="fname" [(ngModel)]="servicio.unitValue" placeholder="Precio del servicio">
            </div>
            <label id="descripcion">Descripcion</label>
            <br>
            <textarea id="descripcion" class="textarea" placeholder="Escribe la descripcion del servicio aquí..."   value="servicio.description"></textarea>
            <div class="center">
                <button (click)="crear()">Crear servicio</button>
            </div>
        </div>
    </div>
    <!--
    <div id="retroalimentacion">
        <div class="contenedor-rt">
            <div class="header">
                <div>Preguntas</div>
                <div>Valoraciones</div>
            </div>
            <div class="content">
                <div class="column" id="preguntas-usuarios">
                    <div class="message" *ngFor="let item of servicio.preguntas">
                        <img src="../../assets/user-default-icon.png" alt="Usuario 1" class="avatar">
                        <div class="message-content">
                            <div class="header-info">
                                <div class="username">{{item.id}}</div>
                                <div class="time">{{item.fecha}}</div>
                            </div>
                            <div class="text">{{item.contenido}}</div>
                        </div>
                    </div>
                </div>
                <div class="column" id="valoraciones-usuarios">
                    <div class="message" *ngFor="let item of servicio.comentario">
                        <img src="https://via.placeholder.com/50" alt="Usuario 3" class="avatar">
                        <div class="message-content" >
                            <div class="header-info">
                                <div class="username">{{item.id}}</div>
                                <div class="time">{{item.fecha}}</div>
                            </div>
                            <div class="text">{{item.contenido}}</div>
                            <div class="stars">
                                <span class="star">&#9733;</span><p>{{item.calificacion}}/5</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
</div>
