<app-navbar></app-navbar>
<div class="container">
    <div class="title">Mi carrito</div>
</div>
<table>
    <thead>
        <tr>
            <th>Eliminar</th>
            <th>Servicio</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td><button (click)="eliminarItem(item)">X</button></td>
            <td>{{item.serviceName}}</td>
            <td>{{item.unitValue}}</td>
            <td>{{item.quantity}}</td>
            <td>${{item.subtotal}}</td>
        </tr>
    </tbody>
</table>

<div class="summary">
    <p>Total: <span class="total">${{total}}</span></p>
</div>

<!-- Contenedor para el botón de compra alineado a la derecha -->
<div class="button-container">
    <button class="buy-button" (click)="comprar()">Comprar</button>
</div>

<!-- Botón de Compra -->

<app-popup *ngIf="isPopupOpen" [popupText]="popupMessage" (close)="closePopup()"></app-popup>
