<app-navbar></app-navbar>
<div class="container">
    <div class="title">Mi carrito</div>
</div>
<table>
    <thead>
        <tr>
            <th>Eliminar</th>
            <th>Servicio</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of itemsCarrito">
            <td><button (click)="eliminarItem(item)">X</button></td>
            <td>{{item.servicio.nombre}}</td>
            <td>{{item.servicio.precioUnitario}}</td>
            <td>{{item.cantidad}}</td>
            <td>${{item.subTotal}}</td>
        </tr>
    </tbody>
</table>

<div class="summary">
    <p>Total: <span class="total">${{total}}</span></p>
</div>

<!-- Contenedor para el botón de compra alineado a la derecha -->
<div class="button-container">
    <button class="buy-button">Comprar</button>
</div>

<!-- Botón de Compra -->
