<app-navbar></app-navbar>

<div class="container">
    <div class="title">Mi carrito</div>
</div>

<!-- Tabla de elementos del carrito -->
<table *ngIf="items.length > 0" class="table">
    <thead>
        <tr>
            <th>Eliminar</th>
            <th>Servicio</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>
                <button (click)="eliminarItem(item)">X</button>
            </td>
            <td>{{ item.serviceName }}</td>
            <td>${{ item.unitValue }}</td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.subtotal }}</td>
        </tr>
    </tbody>
</table>

<!-- Mensaje de carrito vacío -->
<div *ngIf="items.length === 0" class="empty-cart">
    <p>No hay servicios en el carrito.</p>
</div>

<!-- Resumen del carrito -->
<div *ngIf="items.length > 0" class="summary">
    <p>Total: <span class="total">${{ total }}</span></p>
</div>

<!-- Botón de Compra -->
<div class="button-container" *ngIf="items.length > 0">
    <button class="buy-button" (click)="comprar()">Comprar</button>
</div>

<app-popup 
    *ngIf="isPopupOpen" 
    [popupText]="popupMessage" 
    (close)="closePopup()">
</app-popup>
