<app-navbar></app-navbar>
<div id="body">
    <div class="container-wrapper">
        <div class="container1">
            <img src="https://cdn.pixabay.com/photo/2015/06/10/16/36/mark-804938_640.jpg" alt="Servicio">
        </div>
        <div class="container2">
            <div class="form-group">
                <label for="service-name">Nombre del servicio:</label>
                <p id="nombre">Nombre del servicio</p>
            </div>
            <div class="form-group">
                <label for="service-location">Ubicación del servicio:</label>
                <p id="ubicacion">ubicacion</p>
            </div>
            <div class="form-group">
                <label for="service-type">Tipo de servicio:</label>
                <p id="tipo-servicio">tipo</p>
            </div>
            <div class="form-group">
                <label for="service-field-1">Campo de servicio:</label>
                <p id="campo-opcional">se despliega dependiendo el servicio</p>
            </div>
            <div class="form-group">
                <label for="service-field-1">Campo de servicio:</label>
                <p id="campo-opcional">se despliega dependiendo el servicio</p>
            </div>
            <div class="form-group">
                <label for="service-field-1">Campo de servicio:</label>
                <p id="campo-opcional">se despliega dependiendo el servicio</p>
            </div>
            <div class="form-group">
                <p id="precio">$ 99.9</p>
            </div>
            <label id="descripcion">Descripcion</label>
            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident ullam consequatur animi adipisci laudantium nemo, pariatur corrupti culpa enim molestiae tenetur, asperiores quisquam laboriosam placeat, error aperiam cupiditate quaerat exercitationem.</p>
            <br>
            <div id="contenedor-comprar">
                <div class="product-container">
                    <div class="quantity-selector">
                        <button class="quantity-btn1">-</button>
                        <input type="number" value="1" min="1" class="quantity-input">
                        <button class="quantity-btn2">+</button>
                    </div>
                    <button class="buy-now-btn">Buy Now</button>
                    <button class="add-to-cart-btn">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-pregunta">
        <textarea placeholder="Escribe aquí..."></textarea>
        <button id="enviar-pregunta">Enviar</button>
    </div>
    <div id="retroalimentacion">
        <div class="contenedor-rt">
            <div class="header">
                <div>Preguntas</div>
                <div>Valoraciones</div>
            </div>
            <div class="content">
                <div class="column" id="preguntas-usuarios">
                    <div class="message">
                        <img src="../../assets/user-default-icon.png" alt="Usuario 1" class="avatar">
                        <div class="message-content">
                            <div class="header-info">
                                <div class="username">Usuario 1</div>
                                <div class="time">10:00 AM</div>
                            </div>
                            <div class="text">Hola, ¿cómo estás?</div>
                        </div>
                    </div>
                    <div class="message">
                        <img src="../../assets/user-default-icon.png" alt="Usuario 1" class="avatar">
                        <div class="message-content">
                            <div class="header-info">
                                <div class="username">Usuario 1</div>
                                <div class="time">10:00 AM</div>
                            </div>
                            <div class="text">Hola, ¿cómo estás?</div>
                        </div>
                    </div>
                    <div class="message">
                        <img src="../../assets/user-default-icon.png" alt="Usuario 1" class="avatar">
                        <div class="message-content">
                            <div class="header-info">
                                <div class="username">Usuario 1</div>
                                <div class="time">10:00 AM</div>
                            </div>
                            <div class="text">Hola, ¿cómo estás?</div>
                        </div>
                    </div>
                    <div class="message">
                        <img src="../../assets/user-default-icon.png" alt="Usuario 1" class="avatar">
                        <div class="message-content">
                            <div class="header-info">
                                <div class="username">Usuario 1</div>
                                <div class="time">10:00 AM</div>
                            </div>
                            <div class="text">Hola, ¿cómo estás?</div>
                        </div>
                    </div>
                    <div class="message">
                        <img src="../../assets/user-default-icon.png" alt="Usuario 1" class="avatar">
                        <div class="message-content">
                            <div class="header-info">
                                <div class="username">Usuario 1</div>
                                <div class="time">10:00 AM</div>
                            </div>
                            <div class="text">Hola, ¿cómo estás?</div>
                        </div>
                    </div>
                    <div class="message">
                        <img src="../../assets/user-default-icon.png" alt="Usuario 1" class="avatar">
                        <div class="message-content">
                            <div class="header-info">
                                <div class="username">Usuario 1</div>
                                <div class="time">10:00 AM</div>
                            </div>
                            <div class="text">Hola, ¿cómo estás?</div>
                        </div>
                    </div>
                </div>
                <div class="column" id="valoraciones-usuarios">
                    <div class="message">
                        <img src="https://via.placeholder.com/50" alt="Usuario 3" class="avatar">
                        <div class="message-content">
                            <div class="header-info">
                                <div class="username">Usuario x</div>
                                <div class="time">09:45 AM</div>
                            </div>
                            <div class="text">Valoracion de alguien</div>
                            <div class="stars">
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star empty">&#9733;</span>
                            </div>
                        </div>
                    </div>
                    <div class="message">
                        <img src="https://via.placeholder.com/50" alt="Usuario 3" class="avatar">
                        <div class="message-content">
                            <div class="header-info">
                                <div class="username">Usuario x</div>
                                <div class="time">09:45 AM</div>
                            </div>
                            <div class="text">Valoracion de alguien</div>
                            <div class="stars">
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star empty">&#9733;</span>
                            </div>
                        </div>
                    </div>
                    <div class="message">
                        <img src="https://via.placeholder.com/50" alt="Usuario 3" class="avatar">
                        <div class="message-content">
                            <div class="header-info">
                                <div class="username">Usuario x</div>
                                <div class="time">09:45 AM</div>
                            </div>
                            <div class="text">Valoracion de alguien</div>
                            <div class="stars">
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star empty">&#9733;</span>
                            </div>
                        </div>
                    </div>
                    <div class="message">
                        <img src="https://via.placeholder.com/50" alt="Usuario 3" class="avatar">
                        <div class="message-content">
                            <div class="header-info">
                                <div class="username">Usuario x</div>
                                <div class="time">09:45 AM</div>
                            </div>
                            <div class="text">Valoracion de alguien</div>
                            <div class="stars">
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star empty">&#9733;</span>
                            </div>
                        </div>
                    </div>
                    <div class="message">
                        <img src="https://via.placeholder.com/50" alt="Usuario 3" class="avatar">
                        <div class="message-content">
                            <div class="header-info">
                                <div class="username">Usuario x</div>
                                <div class="time">09:45 AM</div>
                            </div>
                            <div class="text">Valoracion de alguien</div>
                            <div class="stars">
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star">&#9733;</span>
                                <span class="star empty">&#9733;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
