<app-navbar></app-navbar>
<div id="body">
    <div class="container-wrapper">
        <div class="container1">
            <img src="https://cdn.pixabay.com/photo/2015/06/10/16/36/mark-804938_640.jpg" alt="Servicio">
        </div>
        <div class="container2">
            <div class="form-group">
                <label for="service-name">Nombre del servicio:</label>
                <p id="nombre">{{servicio?.name}}</p>
            </div>
            <div class="form-group">
                <label for="service-location">Ubicación del servicio:</label>
                <p id="ubicacion">{{servicio?.destination?.city}}, {{servicio?.destination?.country}}</p>
            </div>
            <div class="form-group">
                <label for="service-location">Inicio del servicio:</label>
                <p id="ubicacion">{{servicio?.startDate}}</p>
            </div>
            <div class="form-group">
                <label for="service-location">Fin del servicio:</label>
                <p id="ubicacion">{{servicio?.endDate}}</p>
            </div>
            <div id="alimentacion" *ngIf="servicio?.foodType">
                <div class="form-group" >
                    <label for="service-type">Servicio de alimentacion:</label>
                    <p id="tipo-servicio">{{servicio?.foodType?.name}}</p>
                </div>
            </div>
            <div id="alojamiento" *ngIf="servicio?.accommodationType">
                <div class="form-group">
                    <label for="service-type">Servicio de alojamiento:</label>
                    <p id="tipo-servicio">{{servicio?.accommodationType?.name}}</p>
                </div>
                <div class="form-group off">
                    <label for="service-type">Capacidad de alojamiento:</label>
                    <p id="tipo-servicio">{{servicio?.capacity}}</p>
                </div>
            </div>
            <div id="transporte" *ngIf="servicio?.transportationType" >
                <div class="form-group" >
                    <label for="service-type">Servicio de transporte:</label>
                    <p id="tipo-servicio">{{servicio?.transportationType?.name}}</p>
                </div>
                <div class="form-group off">
                    <label for="service-type">Compañia de transporte:</label>
                    <p id="tipo-servicio">{{servicio?.company}}</p>
                </div>
                <div class="form-group off">
                    <label for="service-type">Lugar de origen:</label>
                    <p id="tipo-servicio">{{servicio?.origin?.city}}, {{servicio?.origin?.country}}</p>
                </div>
            </div>
            <div class="form-group">
                <p id="precio">${{servicio?.unitValue}} por persona</p>
            </div>
            <label id="descripcion">Descripcion</label>
            <br>
            <p>{{servicio?.description}}</p>
            <br>
            <div id="contenedor-comprar" *ngIf="mostrarComprar">
                <div class="product-container">
                    <div class="quantity-selector">
                        <button class="quantity-btn1" (click)="restarCantidad()">-</button>
                        <button class="quantity-input">{{cantidad}}</button>
                        <button class="quantity-btn2" (click)="sumarCantidad()">+</button>
                    </div>
                    <button class="add-to-cart-btn" (click)="add_carrito()">Añadir al carrito</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-pregunta" *ngIf="mostrarComprar">
        <textarea placeholder="Escribe aquí..." id="campo_de_texto" [(ngModel)]="pregunta"></textarea>
        <button id="enviar-pregunta" (click)="enviarPregunta()">Enviar</button>
    </div>
    <div id="retroalimentacion">
        <div class="contenedor-rt">
            <div class="header">
                <div>Preguntas</div>
                <div>Valoraciones</div>
            </div>
            <div class="content">
                <div class="column" id="preguntas-usuarios">
                    <div class="message" *ngFor="let item of questions">
                        <img src="../../assets/user-default-icon.png" alt="Usuario 1" class="avatar">
                        <div class="message-content">
                            <div class="header-info">
                                <div class="username">{{item.createdBy.username}}</div>
                                <div class="time">{{item.createdBy.email}}</div>
                            </div>
                            <div class="text">{{item.content}}</div>
                            <div *ngFor="let i of item.answers" class="answer-item">
                                <div class="answer-header">
                                    <p class="answer-username">{{i.createdBy.email}}</p>
                                    <p class="answer-date">{{i.date}}</p>
                                </div>
                                <p class="answer-content">{{i.content}}</p>
                            </div>
                            <div class="container-sendRes" *ngIf="!mostrarComprar">
                                <input type="text" class="input-text-sendRes" placeholder="Escribe tu mensaje..." value="{{responseAnswer}}" id="{{item.id}}">
                                <button class="button-sendRes" (click)="enviarRespuesta(item)">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column" id="valoraciones-usuarios">
                    <!--
                    <div class="message" *ngFor="let item of servicio.comentario">
                        <img src="https://via.placeholder.com/50" alt="Usuario 3" class="avatar">
                        <div class="message-content" >
                            <div class="header-info">
                                <div class="username">{{item.id}}</div>
                                <div class="time">{{item.fecha}}</div>
                            </div>
                            <div class="text">{{item.contenido}}</div>
                            <div class="stars">
                                <span class="star">&#9733;</span><p>{{item.calificacion}}/5</p>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>